@media (max-width: 767px) {                  
   .header{
      display: none;
   }
.project{
display:none;
}
.foter{
disply:none;
}
.profile-link{
display:none;
}
header{
display:none;
}
}

.header{

    width: 100%;
    height: 650px;
}
.wimg{
    position: absolute;
    width: 600px;
    height: 600px;
    left: 20%;
    
}
.wh1{
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.wh11{
 animation: wh11 5s infinite ;
}
.wt{
    font-family: 'Times New Roman';
}
.wdes{
    position: absolute;
    float: left;
    left: 55%;
   
}
.wdes1{
    animation: wdes 5s infinite ;
   
}
.wdes2{
    font-style: italic;
    font-size: 30px;
}
.lis{
    position: absoluute;
   padding-left: 100px;
   font-family: monospace;
   font-size: 25px;
}
.list{
    background: url("https://pngimg.com/uploads/anonymous_mask/anonymous_mask_PNG32.png");
}
.project{
    border: 1px solid blue;
    padding: 1px;
    margin-top: 100px;
    position: absolute;
    width: 70%;
    left:15%;
    background-color: #9acd32;
}
.project-title{
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
}
.btn{
    width: 100px;
    height: 50px;
}
.btn:hover{
    opacity: 0.7;
}
.myself{
    margin-left: 35%;
    font-family: monospace;
    width: 35%;
    background-color: paleturquoise;
    text-align: center;
    color: #000000;
}
.myself:hover{
    background-color: salmon;
    color: seashell;
}
.link{
    text-decoration: none;
    color: royalblue;
}
#footer{
    text-align: center;
    margin-top: 400px;
    margin-left: 20%;
    width: 60%;
    background-color: thistle;
    color: silver;
}
.fbtn{
    border: 5px solid red;
    width: 200px;
    height: 60px;
    margin: 5px 5px 5px 5px;
    border-radius: 3%;
    background-color: red;
}
.fa{
    text-decoration: none;
    font-size: 40px;
    color: white;
    opacity: 0.6;
}
.fbtn:hover{
    background-color: yellow;
}
.fa:hover{
    color:red;
}
@keyframes wdes{
    0%{
        color: #f0f8ff;
    }
    25%{
        color: #faebd7;
    }
    50%{
        color: #00ffff;
    }
    75%{
        color: #7fffd4;
    }
}
@keyframes wh11{
    50%{
        background-color: #000000;
        color: #ffffff;
    }
}
